.aboutContainer {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  margin: 40px 0 40px 0;
}
.aboutDesc {
  font-style: normal;
  font-weight: 800;
  font-size: 2.375rem ;
  line-height: 59px;
  text-align: justify;
  width: 70%;
  color: #ffffff;
  margin-left: 25px;
  flex: 0.6;
}
.imageDivDisc {
  margin: 5px;
  flex: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .aboutContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imageDivDisc{
    display: none;
  }
  
}
