.aboutContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 80vh;
  flex-wrap: wrap;
  /* margin: 40px 0 40px 0; */
  align-items: center;
}
.aboutDesc {
  font-style: normal;
  font-weight: 800;
  font-size: clamp(14px, 2vw, 20px) ;
  line-height: 49px;
  text-align: justify;
  width: 70%;
  color: #ffffff;
  margin-top: 25px;
  flex: 0.6;
  text-justify: auto;
}
.imageDivDisc {
  /* margin: 5px 5px 5px 5px; */
  flex: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .aboutContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imageDivDisc{
    display: none;
  }
  
}
